 # PYTHON PART -02

In [ ]:
 # LIST
# Practice Question 01:
score = [81, 97, 55, 91, 65, 50, 72,44,33,22,1]
high_score=[]
for x in score:
    if(x>70):
        high_score.append(x)
print(high_score)

[81, 97, 91, 72]

In [ ]:
# Practice Question 02: By Umair
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
add=0
for x in range(num[0],num[6]): # fir x in num
    add=add+x
    x=x+1
print("The Sum is : ",add)
rev=num[::-1]
print("The Reverse of Given List is :",rev)

The Sum is :  15
The Reverse of Given List is : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Practice Question 02: By Instructor
num=[1,2,3,4,5,6,7,8,9,10]
print("The Sum Of First Five numbers are :",sum(num[:5]))
print("The Reverse Of List is :",num[::-1])

In [123]:
num=[1,2,3,4,5,6,7,8,9,10]
print("The Sum of last three digits are :",sum(num[7:])) # code is correct but the jupter is giving error ?

In [1]:
#Practice Question 02: By Umair Baloch
#Code is correct but the jupter is giving error ?
num=[1,2,3,4,5,6,7,8,9,10]
add=sum(num[7:])
n_num=[]
x=0
for x in num[5:]:
    n_num.append(x)
    x=x+1
for x in num[:5]:
    n_num.append(x)
    x=x+1
print("THe Old List is :",num)
print("The New list is ",n_num)
print("The Sum Of Last Three Digit of Old List is ",add)

THe Old List is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The New list is  [6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
The Sum Of Last Three Digit of Old List is  27

In [127]:
num=[1,23,4,1,2,3]
new_num=num[3:]
print(new_num)

[1, 2, 3]

 # Lecture -14

# length of list

In [133]:
num=[1,2,3,4,5,6,7,8,9,10]
print(f"The Length of {num} is ",len(num))

The Length of of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is  10

# Mutability Property of list

In [136]:
num=[2,4,6,7,10,12]
num[3]=8
print(num)

[2, 4, 6, 8, 10, 12]

In [138]:
num=[2,4,6,7,10,12]
num[3]="Umair sb"
print(num)

[2, 4, 6, 'Umair sb', 10, 12]

In [156]:
empty_taple=tuple()
empty=()
print(type(empty_taple))
print(type(empty))

<class 'tuple'>
<class 'tuple'>

 # Change a range of items values

In [159]:
a=[1,2,3,4,5,6]
a[2]="third"
a[3]="Foruth"
print(a)

[1, 2, 'third', 'Foruth', 5, 6]

 # Add List Items

In [162]:
marks=[50,40,98,87]
marks.append(100)
print(marks)

[50, 40, 98, 87, 100]

In [164]:
marks=[50,40,98,87]
marks.append("I am here also ")
print(marks)

[50, 40, 98, 87, 'I am here also ']

 # Remove the Items

In [171]:
a=[1,2,3,4,5,6,7,8,9,89,10]
a.remove(89)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Join the List

In [176]:
g_habit=["Hardworking","Patience","Positive Thinking"]
b_habit=["Laziness","Over_thinking"]
print(g_habit+b_habit)

['Hardworking', 'Patience', 'Positive Thinking', 'Laziness', 'Over_thinking']

# Checking the element in list

In [181]:
num=[1,2,3,4,5,6,7,8,9]
5 in num
10 in num

False

# Reversing the list

In [196]:
num=[1,2,3,4,5,6,7,8,9,10]
num.reverse()
print(num)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Tupled in Python Part-1
# Context

In [ ]:
Creating Tuble
Single Element tuple
empty Tuple
mixed data type tuple
nested tuple
Comverted list to tuple
Converting string to tuple
Converting Dictionary to tuple
Converting set into tuple
Practice tuple

In [203]:
num=(1,2,3)
print(num)
print(type(num))

(1, 2, 3)
<class 'tuple'>

In [207]:
num =(2,) # tuple for single element
num1=(2) # thus when declaring single elemnt in tuple a comma is essential
print(type(num))
print(type(num1))

<class 'tuple'>
<class 'int'>

num=()
num1=tuple()
print(num)
print(num1)
print(type(num))
print(type(num1))

In [209]:
num=(1,2,"Third","Foruth")
print(num)

(1, 2, 'Third', 'Foruth')

In [211]:
num=(1,2,3,(2,4,6,8),"Umair","Baloch")
print(num)

(1, 2, 3, (2, 4, 6, 8), 'Umair', 'Baloch')

# Tuple Constructor

In [217]:
num=[1,2,3,4,5,6,7,8,9]
print(num)
print(type(num))
new_num=tuple(num)
print(new_num)
print(type(new_num))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [221]:
name="Mohammad Umair hafeez"
print(name)
print(type(name))
new_name=tuple(name)
print(new_name)
print(type(new_name))

Mohammad Umair hafeez
<class 'str'>
('M', 'o', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 'U', 'm', 'a', 'i', 'r', ' ', 'h', 'a', 'f', 'e', 'e', 'z')
<class 'tuple'>

In [227]:
num={'a':1,'b':2,'c':3}
print(num)
print(type(num))
new_num=tuple(num)
print(new_num)
print(type(new_num))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
('a', 'b', 'c')
<class 'tuple'>

In [223]:
num={1,2,3,4,5,6,7,8,9}
print(num)
print(type(num))
new_num=tuple(num)
print(new_num)
print(type(new_num))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

 # Practice

# Tuple in python part -2
# Context

In [ ]:
Indexing In tuple
Positive Indexing 
Negative Indexing 
Slicing
Negative Slicing
Reversing Tuple
Properties of Tuple
Method of tuple
count method
index method

In [233]:
num=("Mohammad","Umair","Hafeez")
print(num[0])
print(num[1])
print(num[2])

Mohammad
Umair
Hafeez

In [235]:
num=("Mohammad","Umair","Hafeez")
print(num[-1])
print(num[-2])
print(num[-3])

Hafeez
Umair
Mohammad

In [243]:
num=("Mohammad","Umair","Hafeez","Baloch","khan","Balochistan")
print(num[0:])
print(num[0:3])
print(num[-1:])
print(num[:-1])

('Mohammad', 'Umair', 'Hafeez', 'Baloch', 'khan', 'Balochistan')
('Mohammad', 'Umair', 'Hafeez')
('Balochistan',)
('Mohammad', 'Umair', 'Hafeez', 'Baloch', 'khan')

In [245]:
num=("Mohammad","Umair","Hafeez","Baloch","khan","Balochistan")
print(num[::-1])

('Balochistan', 'khan', 'Baloch', 'Hafeez', 'Umair', 'Mohammad')

In [251]:
num=(1,1,1,2,3,4,56,7,5,7,64,2)
num.count(1) # count() it is used to find how many time a elememt is repeated in a tuple

3

# Tuple in Python Part No-3 
# Context

In [ ]:
Converting The tuple to list
Adding items
Changing items
Removing Items
Joining items
loop in tuple
Delecting items
Multipling Items
Practice Items

In [257]:
num=(1,2,3)
print(num)
print(type(num))
n_num=list(num)
print(n_num)
print(type(n_num))

(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
<class 'list'>

In [266]:
num=(1,2,3)
print(num)
print(type(num))
n_num=list(num)
n_num.append(4)
print(n_num)
print(type(n_num))
again_num=tuple(n_num)
print(again_num)
print(type(again_num))

(1, 2, 3)
<class 'tuple'>
[1, 2, 3, 4]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>

In [278]:
num1=("Mohammad",)
num2=("Umair",)
num3=num1+num2
print("Combination of Two tuple",num3)

Combination of Two tuple ('Mohammad', 'Umair')

In [284]:
num=("A","B","C","D","E","F")
print(num)
print(type(num))
n_num=list(num)
n_num.remove("B")
print(n_num)
print(type(n_num))
again_num=tuple(n_num)
print(again_num)
print(type(again_num))

('A', 'B', 'C', 'D', 'E', 'F')
<class 'tuple'>
['A', 'C', 'D', 'E', 'F']
<class 'list'>
('A', 'C', 'D', 'E', 'F')
<class 'tuple'>

In [288]:
num=("A","B","C","D","E","F")
print(num)
print(type(num))
n_num=list(num)
n_num[2]="I am here"
print(n_num)
print(type(n_num))
again_num=tuple(n_num)
print(again_num)
print(type(again_num))

('A', 'B', 'C', 'D', 'E', 'F')
<class 'tuple'>
['A', 'B', 'I am here', 'D', 'E', 'F']
<class 'list'>
('A', 'B', 'I am here', 'D', 'E', 'F')
<class 'tuple'>

In [290]:
num=(1,2,3,4,5,6)
for x in num:
    print(x)

1
2
3
4
5
6

In [294]:
num1=(1,2,3)
num2=("First","Second","Third")
num3=num1+num2
print(num3)

(1, 2, 3, 'First', 'Second', 'Third')

In [308]:
num==("First","Second","Third")
num1=(1,2,3)
print(num)
print(num1)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3)

In [322]:
num=("First","Second","Third")
num1=(1,2,3)
num=num*2
num1=num1*2
print(num)
print(num1)

('First', 'Second', 'Third', 'First', 'Second', 'Third')
(1, 2, 3, 1, 2, 3)